In [1]:
import pandas as pd

trucks = pd.read_csv('truck_event_text_partition.csv', index_col = 0)

In [2]:
trucks.columns

Index(['driverId', 'truckId', 'eventTime', 'eventType', 'longitude',
       'latitude', 'eventKey', 'CorrelationId', 'driverName', 'routeId',
       'routeName', 'eventDate'],
      dtype='object')

In [4]:
trucks.driverId.describe()

count    17075.000000
mean        21.043104
std          6.612549
min         10.000000
25%         15.000000
50%         21.000000
75%         27.000000
max         32.000000
Name: driverId, dtype: float64

In [5]:
trucks.eventDate.describe()

count             17075
unique                4
top       2016-06-02-20
freq               8681
Name: eventDate, dtype: object

In [7]:
trucks.longitude.mean()

-91.79831625182845

In [18]:
### 0_o

trucks.longitude.median()

-91.38

In [8]:
## Para mirar los valores únicos

trucks.driverName.unique()

array(['Adis Cesir', 'Grant Liu', 'Mark Lochbihler', 'Jamie Engesser',
       'Nadeem Asghar', 'Adam Diaz', 'Chris Harris', 'Ryan Templeton',
       'Eric Mizell', 'Olivier Renault', 'Rohit Bakshi', 'Tom McCuch',
       'Rommel Garcia', 'Jean-Philippe Player', 'Don Hilborn',
       'Teddy Choi', 'Ajay Singh', 'Michael Aube', 'Jeff Markham',
       'Joe Niemiec', 'George Vetticaden', 'Dan Rice', 'Paul Codding'],
      dtype=object)

In [9]:
## Para obtener lista de valores únicos y número de ocurrencias: VALUE_COUNTS()

trucks.driverName.value_counts()

Grant Liu               751
Teddy Choi              750
Nadeem Asghar           749
Jeff Markham            748
Eric Mizell             748
Rommel Garcia           747
Ryan Templeton          747
Adis Cesir              746
Joe Niemiec             746
Paul Codding            746
Chris Harris            746
Adam Diaz               745
Tom McCuch              745
Don Hilborn             745
Ajay Singh              745
Olivier Renault         744
Michael Aube            744
Jean-Philippe Player    743
Mark Lochbihler         742
Dan Rice                741
Rohit Bakshi            741
George Vetticaden       730
Jamie Engesser          686
Name: driverName, dtype: int64

In [12]:
### MAP ####


media = trucks.truckId.mean()

trucks.truckId.map(lambda x: x - media)

0       -30.42448
1       -39.42448
2        49.57552
3        18.57552
4        31.57552
           ...
17070   -28.42448
17071    -9.42448
17072    -6.42448
17073   -16.42448
17074    44.57552
Name: truckId, Length: 17075, dtype: float64

In [13]:
### APPLY

'''def remean_points(row):
    row.points = row.points - review_points_mean
    return row

reviews.apply(remean_points, axis='columns')'''

"def remean_points(row):\n    row.points = row.points - review_points_mean\n    return row\n\nreviews.apply(remean_points, axis='columns')"

In [17]:
trucks.driverName + ' - ' + trucks.driverName

### solo puede concatenar strings

0                      Adis Cesir - Adis Cesir
1                        Grant Liu - Grant Liu
2            Mark Lochbihler - Mark Lochbihler
3              Jamie Engesser - Jamie Engesser
4                Nadeem Asghar - Nadeem Asghar
                         ...
17070          Jamie Engesser - Jamie Engesser
17071                  Tom McCuch - Tom McCuch
17072                    Grant Liu - Grant Liu
17073    George Vetticaden - George Vetticaden
17074                  Ajay Singh - Ajay Singh
Name: driverName, Length: 17075, dtype: object

In [19]:
## IDXMAX() para obtener el índice del valor máximo

truckId_max = trucks.truckId.idxmax()

In [20]:
trucks.loc[truckId_max, ['driverName']]

driverName    Jeff Markham
Name: 29, dtype: object

In [21]:
## Ejercicio de contac cuántas veces aparecían dos palabras en la descripción de un vino

'''n_trop = reviews.description.map(lambda desc: "tropical" in desc).sum()

n_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()

descriptor_counts = pd.Series([n_trop, n_fruity], index=['tropical', 'fruity'])'''

'n_trop = reviews.description.map(lambda desc: "tropical" in desc).sum()\n\nn_fruity = reviews.description.map(lambda desc: "fruity" in desc).sum()\n\ndescriptor_counts = pd.Series([n_trop, n_fruity], index=[\'tropical\', \'fruity\'])'