In [1]:
import pandas as pd


# Podemos acceder a los elementos (columnas) de un dataframe haciendo: dataframe.columnName o dataframe['columnName']
## dataframa[columnname][index] para acceder a un registro

In [5]:
trucks = pd.read_csv('truck_event_text_partition.csv', index_col = 0)

In [6]:
trucks.head()

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate
0,14,25,59:21.4,Normal,-94.58,37.03,14|25|9223370572464814373,3.660000e+18,Adis Cesir,160405074,Joplin to Kansas City Route 2,2016-05-27-22
1,18,16,59:21.7,Normal,-89.66,39.78,18|16|9223370572464814089,3.660000e+18,Grant Liu,1565885487,Springfield to KC Via Hanibal,2016-05-27-22
2,27,105,59:21.7,Normal,-90.21,38.65,27|105|9223370572464814070,3.660000e+18,Mark Lochbihler,1325562373,Springfield to KC Via Columbia Route 2,2016-05-27-22
3,11,74,59:21.7,Normal,-90.20,38.65,11|74|9223370572464814123,3.660000e+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
4,22,87,59:21.7,Normal,-90.04,35.19,22|87|9223370572464814101,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22

In [7]:
## Para seleccionar la primera fila del dataframe

trucks.iloc[0]

driverId                                    14
truckId                                     25
eventTime                              59:21.4
eventType                               Normal
longitude                               -94.58
latitude                                 37.03
eventKey             14|25|9223370572464814373
CorrelationId                         3.66e+18
driverName                          Adis Cesir
routeId                              160405074
routeName        Joplin to Kansas City Route 2
eventDate                        2016-05-27-22
Name: 0, dtype: object

In [8]:
trucks.iloc[1]

driverId                                    18
truckId                                     16
eventTime                              59:21.7
eventType                               Normal
longitude                               -89.66
latitude                                 39.78
eventKey             18|16|9223370572464814089
CorrelationId                         3.66e+18
driverName                           Grant Liu
routeId                             1565885487
routeName        Springfield to KC Via Hanibal
eventDate                        2016-05-27-22
Name: 1, dtype: object

In [9]:
### Para obtener la columna hacemos:

trucks.iloc[:, 0]

0        14
1        18
2        27
3        11
4        22
         ..
17070    11
17071    16
17072    18
17073    10
17074    19
Name: driverId, Length: 17075, dtype: int64

In [11]:
## Si quiero obtener solo los diez primeros registros

trucks.iloc[:10, 0]

0    14
1    18
2    27
3    11
4    22
5    22
6    23
7    11
8    20
9    32
Name: driverId, dtype: int64

In [13]:
### O puedo hacer:

trucks.iloc[0:10, 0]

0    14
1    18
2    27
3    11
4    22
5    22
6    23
7    11
8    20
9    32
Name: driverId, dtype: int64

In [14]:
### Tamvién es posible pasar una lista

trucks.iloc[[1, 4, 5], 0]

1    18
4    22
5    22
Name: driverId, dtype: int64

In [23]:
### los últimos registros...

trucks.iloc[-10:, [0, 1, 2]]

       driverId  truckId eventTime
17065        21      105   12:22.0
17066        11       27   12:22.2
17067        30       95   12:23.8
17068        31       48   12:22.5
17069        22       24   12:22.9
17070        11       27   12:23.1
17071        16       46   12:24.0
17072        18       49   12:23.7
17073        10       39   12:23.8
17074        19      100   12:24.0

In [17]:
trucks.iloc[-10:]

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate
17065,21,105,12:22.0,Normal,-91.38,34.83,21|105|9223370571956433811,1000.0,Jeff Markham,1594289134,Memphis to Little Rock Route 2,2016-06-02-20
17066,11,27,12:22.2,Normal,-89.74,39.10,11|27|9223370571956433631,1000.0,Jamie Engesser,1198242881,Saint Louis to Chicago Route2,2016-06-02-20
17067,30,95,12:23.8,Normal,-89.74,39.10,30|95|9223370571956432041,1000.0,Dan Rice,1198242881,Saint Louis to Chicago Route2,2016-06-02-20
17068,31,48,12:22.5,Normal,-89.60,41.76,31|48|9223370571956433330,1000.0,Rommel Garcia,160779139,Des Moines to Chicago Route 2,2016-06-02-20
17069,22,24,12:22.9,Normal,-91.32,41.71,22|24|9223370571956432911,1000.0,Nadeem Asghar,1090292248,Peoria to Ceder Rapids Route 2,2016-06-02-20
17070,11,27,12:23.1,Normal,-90.20,38.65,11|27|9223370571956432681,1000.0,Jamie Engesser,1198242881,Saint Louis to Chicago Route2,2016-06-02-20
17071,16,46,12:24.0,Normal,-94.35,38.33,16|46|9223370571956431821,1000.0,Tom McCuch,160405074,Joplin to Kansas City Route 2,2016-06-02-20
17072,18,49,12:23.7,Normal,-90.52,39.71,18|49|9223370571956432141,1000.0,Grant Liu,1565885487,Springfield to KC Via Hanibal,2016-06-02-20
17073,10,39,12:23.8,Normal,-93.34,37.21,10|39|9223370571956431961,1000.0,George Vetticaden,1390372503,Saint Louis to Tulsa,2016-06-02-20
17074,19,100,12:24.0,Normal,-97.37,36.79,19|100|9223370571956431810,1000.0,Ajay Singh,1962261785,Wichita to Little Rock.kml,2016-06-02-20

In [19]:
trucks.columns

Index(['driverId', 'truckId', 'eventTime', 'eventType', 'longitude',
       'latitude', 'eventKey', 'CorrelationId', 'driverName', 'routeId',
       'routeName', 'eventDate'],
      dtype='object')

In [21]:
## Ahora probamos LOC

trucks.loc[0, 'driverId']

14

In [22]:
### Para seleccionar varias columnas


trucks.loc[:, ['driverId', 'eventTime', 'driverName']]

       driverId eventTime         driverName
0            14   59:21.4         Adis Cesir
1            18   59:21.7          Grant Liu
2            27   59:21.7    Mark Lochbihler
3            11   59:21.7     Jamie Engesser
4            22   59:21.7      Nadeem Asghar
...         ...       ...                ...
17070        11   12:23.1     Jamie Engesser
17071        16   12:24.0         Tom McCuch
17072        18   12:23.7          Grant Liu
17073        10   12:23.8  George Vetticaden
17074        19   12:24.0         Ajay Singh

[17075 rows x 3 columns]

In [26]:
'''iloc uses the Python stdlib indexing scheme, where the first element
of the range is included and the last one excluded. So 0:10 will select 
entries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.'''

'iloc uses the Python stdlib indexing scheme, where the first element\nof the range is included and the last one excluded. So 0:10 will select \nentries 0,...,9. loc, meanwhile, indexes inclusively. So 0:10 will select entries 0,...,10.'

In [27]:
### MANIPULATING THE INDEX ###

In [29]:
### podemos usar el método set_index() para establecer un índice

trucks.set_index('driverName')

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,routeId,routeName,eventDate
driverName,,,,,,,,,,,
Adis Cesir,14,25,59:21.4,Normal,-94.58,37.03,14|25|9223370572464814373,3.660000e+18,160405074,Joplin to Kansas City Route 2,2016-05-27-22
Grant Liu,18,16,59:21.7,Normal,-89.66,39.78,18|16|9223370572464814089,3.660000e+18,1565885487,Springfield to KC Via Hanibal,2016-05-27-22
Mark Lochbihler,27,105,59:21.7,Normal,-90.21,38.65,27|105|9223370572464814070,3.660000e+18,1325562373,Springfield to KC Via Columbia Route 2,2016-05-27-22
Jamie Engesser,11,74,59:21.7,Normal,-90.20,38.65,11|74|9223370572464814123,3.660000e+18,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
Nadeem Asghar,22,87,59:21.7,Normal,-90.04,35.19,22|87|9223370572464814101,3.660000e+18,1198242881,Saint Louis to Chicago Route2,2016-05-27-22
...,...,...,...,...,...,...,...,...,...,...,...
Jamie Engesser,11,27,12:23.1,Normal,-90.20,38.65,11|27|9223370571956432681,1.000000e+03,1198242881,Saint Louis to Chicago Route2,2016-06-02-20
Tom McCuch,16,46,12:24.0,Normal,-94.35,38.33,16|46|9223370571956431821,1.000000e+03,160405074,Joplin to Kansas City Route 2,2016-06-02-20
Grant Liu,18,49,12:23.7,Normal,-90.52,39.71,18|49|9223370571956432141,1.000000e+03,1565885487,Springfield to KC Via Hanibal,2016-06-02-20
George Vetticaden,10,39,12:23.8,Normal,-93.34,37.21,10|39|9223370571956431961,1.000000e+03,1390372503,Saint Louis to Tulsa,2016-06-02-20
Ajay Singh,19,100,12:24.0,Normal,-97.37,36.79,19|100|9223370571956431810,1.000000e+03,1962261785,Wichita to Little Rock.kml,2016-06-02-20

In [30]:
### CONDITIONAL SELECTION ####

In [32]:
trucks.eventType == 'Normal'

0        True
1        True
2        True
3        True
4        True
         ...
17070    True
17071    True
17072    True
17073    True
17074    True
Name: eventType, Length: 17075, dtype: bool

In [35]:
## Podemos usar el método LOC con los condicionales:

trucks.loc[trucks.truckId > 50]

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate
2,27,105,59:21.7,Normal,-90.21,38.65,27|105|9223370572464814070,3.660000e+18,Mark Lochbihler,1325562373,Springfield to KC Via Columbia Route 2,2016-05-27-22
3,11,74,59:21.7,Normal,-90.20,38.65,11|74|9223370572464814123,3.660000e+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
4,22,87,59:21.7,Normal,-90.04,35.19,22|87|9223370572464814101,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22
5,22,87,59:22.3,Normal,-90.37,35.21,22|87|9223370572464813486,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22
6,23,68,59:22.4,Normal,-89.91,40.86,23|68|9223370572464813450,3.660000e+18,Adam Diaz,160405074,Joplin to Kansas City Route 2,2016-05-27-22
...,...,...,...,...,...,...,...,...,...,...,...,...
17062,27,81,12:23.1,Normal,-93.01,38.97,27|81|9223370571956432711,1.000000e+03,Mark Lochbihler,1325562373,Springfield to KC Via Columbia Route 2,2016-06-02-20
17064,24,68,12:23.4,Normal,-93.36,41.69,24|68|9223370571956432441,1.000000e+03,Don Hilborn,927636994,Des Moines to Chicago.kml,2016-06-02-20
17065,21,105,12:22.0,Normal,-91.38,34.83,21|105|9223370571956433811,1.000000e+03,Jeff Markham,1594289134,Memphis to Little Rock Route 2,2016-06-02-20
17067,30,95,12:23.8,Normal,-89.74,39.10,30|95|9223370571956432041,1.000000e+03,Dan Rice,1198242881,Saint Louis to Chicago Route2,2016-06-02-20
17074,19,100,12:24.0,Normal,-97.37,36.79,19|100|9223370571956431810,1.000000e+03,Ajay Singh,1962261785,Wichita to Little Rock.kml,2016-06-02-20

In [37]:
## Podemos usar más de un condicional:

trucks.loc[(trucks.truckId > 50) & (trucks.driverId < 25)] ## Usamos | para el "or"

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate
3,11,74,59:21.7,Normal,-90.20,38.65,11|74|9223370572464814123,3.660000e+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
4,22,87,59:21.7,Normal,-90.04,35.19,22|87|9223370572464814101,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22
5,22,87,59:22.3,Normal,-90.37,35.21,22|87|9223370572464813486,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22
6,23,68,59:22.4,Normal,-89.91,40.86,23|68|9223370572464813450,3.660000e+18,Adam Diaz,160405074,Joplin to Kansas City Route 2,2016-05-27-22
7,11,74,59:22.5,Normal,-89.74,39.10,11|74|9223370572464813355,3.660000e+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
...,...,...,...,...,...,...,...,...,...,...,...,...
17060,23,66,12:21.4,Normal,-89.56,37.20,23|66|9223370571956434441,1.000000e+03,Adam Diaz,1961634315,Saint Louis to Memphis,2016-06-02-20
17061,12,74,12:23.0,Normal,-94.38,38.99,12|74|9223370571956432791,1.000000e+03,Paul Codding,1384345811,Joplin to Kansas City,2016-06-02-20
17064,24,68,12:23.4,Normal,-93.36,41.69,24|68|9223370571956432441,1.000000e+03,Don Hilborn,927636994,Des Moines to Chicago.kml,2016-06-02-20
17065,21,105,12:22.0,Normal,-91.38,34.83,21|105|9223370571956433811,1.000000e+03,Jeff Markham,1594289134,Memphis to Little Rock Route 2,2016-06-02-20
17074,19,100,12:24.0,Normal,-97.37,36.79,19|100|9223370571956431810,1.000000e+03,Ajay Singh,1962261785,Wichita to Little Rock.kml,2016-06-02-20

In [38]:
''' isin. isin is lets you select data whose value "is in" a list of values.'''

' isin. isin is lets you select data whose value "is in" a list of values.'

In [41]:
## Para seleccionar los datos de solo dos conductores...

trucks.loc[trucks.driverName.isin(['Jamie Engesser', 'Nadeem Asghar'])]

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate
3,11,74,59:21.7,Normal,-90.20,38.65,11|74|9223370572464814123,3.660000e+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
4,22,87,59:21.7,Normal,-90.04,35.19,22|87|9223370572464814101,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22
5,22,87,59:22.3,Normal,-90.37,35.21,22|87|9223370572464813486,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22
7,11,74,59:22.5,Normal,-89.74,39.10,11|74|9223370572464813355,3.660000e+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
19,22,87,59:24.2,Normal,-90.94,35.03,22|87|9223370572464811652,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22
...,...,...,...,...,...,...,...,...,...,...,...,...
17039,11,27,12:18.9,Normal,-88.42,41.11,11|27|9223370571956436951,1.000000e+03,Jamie Engesser,1198242881,Saint Louis to Chicago Route2,2016-06-02-20
17053,22,24,12:21.0,Normal,-91.63,41.72,22|24|9223370571956434839,1.000000e+03,Nadeem Asghar,1090292248,Peoria to Ceder Rapids Route 2,2016-06-02-20
17066,11,27,12:22.2,Normal,-89.74,39.10,11|27|9223370571956433631,1.000000e+03,Jamie Engesser,1198242881,Saint Louis to Chicago Route2,2016-06-02-20
17069,22,24,12:22.9,Normal,-91.32,41.71,22|24|9223370571956432911,1.000000e+03,Nadeem Asghar,1090292248,Peoria to Ceder Rapids Route 2,2016-06-02-20
17070,11,27,12:23.1,Normal,-90.20,38.65,11|27|9223370571956432681,1.000000e+03,Jamie Engesser,1198242881,Saint Louis to Chicago Route2,2016-06-02-20

In [42]:
'''The second is isnull (and its companion notnull). These methods let you highlight values which are (or are not) 
empty (NaN). For example, to filter out wines lacking a price tag in the dataset, here's what we would do:'''

"The second is isnull (and its companion notnull). These methods let you highlight values which are (or are not) \nempty (NaN). For example, to filter out wines lacking a price tag in the dataset, here's what we would do:"

In [43]:
trucks.loc[trucks.driverId.notnull()]

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate
0,14,25,59:21.4,Normal,-94.58,37.03,14|25|9223370572464814373,3.660000e+18,Adis Cesir,160405074,Joplin to Kansas City Route 2,2016-05-27-22
1,18,16,59:21.7,Normal,-89.66,39.78,18|16|9223370572464814089,3.660000e+18,Grant Liu,1565885487,Springfield to KC Via Hanibal,2016-05-27-22
2,27,105,59:21.7,Normal,-90.21,38.65,27|105|9223370572464814070,3.660000e+18,Mark Lochbihler,1325562373,Springfield to KC Via Columbia Route 2,2016-05-27-22
3,11,74,59:21.7,Normal,-90.20,38.65,11|74|9223370572464814123,3.660000e+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22
4,22,87,59:21.7,Normal,-90.04,35.19,22|87|9223370572464814101,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22
...,...,...,...,...,...,...,...,...,...,...,...,...
17070,11,27,12:23.1,Normal,-90.20,38.65,11|27|9223370571956432681,1.000000e+03,Jamie Engesser,1198242881,Saint Louis to Chicago Route2,2016-06-02-20
17071,16,46,12:24.0,Normal,-94.35,38.33,16|46|9223370571956431821,1.000000e+03,Tom McCuch,160405074,Joplin to Kansas City Route 2,2016-06-02-20
17072,18,49,12:23.7,Normal,-90.52,39.71,18|49|9223370571956432141,1.000000e+03,Grant Liu,1565885487,Springfield to KC Via Hanibal,2016-06-02-20
17073,10,39,12:23.8,Normal,-93.34,37.21,10|39|9223370571956431961,1.000000e+03,George Vetticaden,1390372503,Saint Louis to Tulsa,2016-06-02-20
17074,19,100,12:24.0,Normal,-97.37,36.79,19|100|9223370571956431810,1.000000e+03,Ajay Singh,1962261785,Wichita to Little Rock.kml,2016-06-02-20

In [44]:
### ASSINING DATA ###

In [45]:
## Puede ser un valor constante

trucks['nueva1'] = 'everyone'

In [46]:
trucks.head()

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate,nueva1
0,14,25,59:21.4,Normal,-94.58,37.03,14|25|9223370572464814373,3.660000e+18,Adis Cesir,160405074,Joplin to Kansas City Route 2,2016-05-27-22,everyone
1,18,16,59:21.7,Normal,-89.66,39.78,18|16|9223370572464814089,3.660000e+18,Grant Liu,1565885487,Springfield to KC Via Hanibal,2016-05-27-22,everyone
2,27,105,59:21.7,Normal,-90.21,38.65,27|105|9223370572464814070,3.660000e+18,Mark Lochbihler,1325562373,Springfield to KC Via Columbia Route 2,2016-05-27-22,everyone
3,11,74,59:21.7,Normal,-90.20,38.65,11|74|9223370572464814123,3.660000e+18,Jamie Engesser,1567254452,Saint Louis to Memphis Route2,2016-05-27-22,everyone
4,22,87,59:21.7,Normal,-90.04,35.19,22|87|9223370572464814101,3.660000e+18,Nadeem Asghar,1198242881,Saint Louis to Chicago Route2,2016-05-27-22,everyone

In [49]:
## O un valor iterable

trucks['index_backwards'] = range(len(trucks), 0, -1)

In [51]:
trucks.tail(20)

,driverId,truckId,eventTime,eventType,longitude,latitude,eventKey,CorrelationId,driverName,routeId,routeName,eventDate,nueva1,nueva2,index_backwards
17055,14,18,12:21.4,Normal,-91.63,41.72,14|18|9223370571956434360,1000.0,Adis Cesir,24929475,Peoria to Ceder Rapids,2016-06-02-20,everyone,20,20
17056,20,79,12:22.0,Normal,-91.05,41.72,20|79|9223370571956433850,1000.0,Chris Harris,1090292248,Peoria to Ceder Rapids Route 2,2016-06-02-20,everyone,19,19
17057,17,92,12:22.3,Normal,-92.63,38.95,17|92|9223370571956433551,1000.0,Eric Mizell,1927624662,Springfield to KC Via Columbia,2016-06-02-20,everyone,18,18
17058,21,105,12:21.0,Normal,-91.74,34.89,21|105|9223370571956434781,1000.0,Jeff Markham,1594289134,Memphis to Little Rock Route 2,2016-06-02-20,everyone,17,17
17059,14,18,12:22.4,Normal,-91.47,41.74,14|18|9223370571956433451,1000.0,Adis Cesir,24929475,Peoria to Ceder Rapids,2016-06-02-20,everyone,16,16
17060,23,66,12:21.4,Normal,-89.56,37.20,23|66|9223370571956434441,1000.0,Adam Diaz,1961634315,Saint Louis to Memphis,2016-06-02-20,everyone,15,15
17061,12,74,12:23.0,Normal,-94.38,38.99,12|74|9223370571956432791,1000.0,Paul Codding,1384345811,Joplin to Kansas City,2016-06-02-20,everyone,14,14
17062,27,81,12:23.1,Normal,-93.01,38.97,27|81|9223370571956432711,1000.0,Mark Lochbihler,1325562373,Springfield to KC Via Columbia Route 2,2016-06-02-20,everyone,13,13
17063,13,12,12:21.6,Normal,-89.17,40.38,13|12|9223370571956434211,1000.0,Joe Niemiec,987179512,Saint Louis to Chicago,2016-06-02-20,everyone,12,12
17064,24,68,12:23.4,Normal,-93.36,41.69,24|68|9223370571956432441,1000.0,Don Hilborn,927636994,Des Moines to Chicago.kml,2016-06-02-20,everyone,11,11
17065,21,105,12:22.0,Normal,-91.38,34.83,21|105|9223370571956433811,1000.0,Jeff Markham,1594289134,Memphis to Little Rock Route 2,2016-06-02-20,everyone,10,10
17066,11,27,12:22.2,Normal,-89.74,39.10,11|27|9223370571956433631,1000.0,Jamie Engesser,1198242881,Saint Louis to Chicago Route2,2016-06-02-20,everyone,9,9
17067,30,95,12:23.8,Normal,-89.74,39.10,30|95|9223370571956432041,1000.0,Dan Rice,1198242881,Saint Louis to Chicago Route2,2016-06-02-20,everyone,8,8
17068,31,48,12:22.5,Normal,-89.60,41.76,31|48|9223370571956433330,1000.0,Rommel Garcia,160779139,Des Moines to Chicago Route 2,2016-06-02-20,everyone,7,7
17069,22,24,12:22.9,Normal,-91.32,41.71,22|24|9223370571956432911,1000.0,Nadeem Asghar,1090292248,Peoria to Ceder Rapids Route 2,2016-06-02-20,everyone,6,6
17070,11,27,12:23.1,Normal,-90.20,38.65,11|27|9223370571956432681,1000.0,Jamie Engesser,1198242881,Saint Louis to Chicago Route2,2016-06-02-20,everyone,5,5
17071,16,46,12:24.0,Normal,-94.35,38.33,16|46|9223370571956431821,1000.0,Tom McCuch,160405074,Joplin to Kansas City Route 2,2016-06-02-20,everyone,4,4
17072,18,49,12:23.7,Normal,-90.52,39.71,18|49|9223370571956432141,1000.0,Grant Liu,1565885487,Springfield to KC Via Hanibal,2016-06-02-20,everyone,3,3
17073,10,39,12:23.8,Normal,-93.34,37.21,10|39|9223370571956431961,1000.0,George Vetticaden,1390372503,Saint Louis to Tulsa,2016-06-02-20,everyone,2,2
17074,19,100,12:24.0,Normal,-97.37,36.79,19|100|9223370571956431810,1000.0,Ajay Singh,1962261785,Wichita to Little Rock.kml,2016-06-02-20,everyone,1,1