In [27]:
import pandas as pd

trucks = pd.read_csv('truck_event_text_partition.csv', index_col = 0)

In [28]:
### In this tutorial, you'll learn how to investigate data types within a DataFrame or Series.
## You'll also learn how to find and replace entries.

In [29]:
##Dtype

print(trucks.driverId.dtype)
print(trucks.driverName.dtype)
print(trucks.eventTime.dtype)

int64
object
object

In [30]:
## para todos las columnas.. --->> DTYPES <<---

trucks.dtypes

driverId           int64
truckId            int64
eventTime         object
eventType         object
longitude        float64
latitude         float64
eventKey          object
CorrelationId    float64
driverName        object
routeId            int64
routeName         object
eventDate         object
dtype: object

In [31]:
### Podemos convertir de un tipo a otro usando ASTYPE


trucks.driverId.astype('float64')

0        14.0
1        18.0
2        27.0
3        11.0
4        22.0
         ...
17070    11.0
17071    16.0
17072    18.0
17073    10.0
17074    19.0
Name: driverId, Length: 17075, dtype: float64

In [32]:
## El índice tiene su propio tipo también


trucks.index.dtype

dtype('int64')

In [33]:
ordenada = trucks.groupby('driverName').truckId.agg(['min', 'max'])
ordenada

                      min  max
driverName
Adam Diaz              26   93
Adis Cesir             15   56
Ajay Singh             26  109
Chris Harris           20   79
Dan Rice               18   95
Don Hilborn            61  102
Eric Mizell            15   97
George Vetticaden      23   85
Grant Liu              11  104
Jamie Engesser         19   98
Jean-Philippe Player   17  106
Jeff Markham           21  109
Joe Niemiec            10   89
Mark Lochbihler        11  105
Michael Aube           17   57
Nadeem Asghar          24   87
Olivier Renault        34   90
Paul Codding           22  104
Rohit Bakshi           32   92
Rommel Garcia          18   86
Ryan Templeton         21   84
Teddy Choi             16  108
Tom McCuch             12   77

In [34]:
print(ordenada.index.dtype)

object

In [35]:
### Para mirar si una determinada columna tiene valores nulos PD.ISNULL() pd.notnull()
trucks[pd.isnull(trucks.driverName)]

Empty DataFrame
Columns: [driverId, truckId, eventTime, eventType, longitude, latitude, eventKey, CorrelationId, driverName, routeId, routeName, eventDate]
Index: []

In [36]:
#### PARA REEMPLAZAR ESTOS VALORES USAMOS FILLNA

trucks.routeId.fillna("Unknown")

0         160405074
1        1565885487
2        1325562373
3        1567254452
4        1198242881
            ...
17070    1198242881
17071     160405074
17072    1565885487
17073    1390372503
17074    1962261785
Name: routeId, Length: 17075, dtype: int64

In [40]:
### Para reemplazar un valor no nulo específico REPLACE()


trucks.driverName.replace('Adis Cesir', 'Adis Cherrys')

0             Adis Cherrys
1                Grant Liu
2          Mark Lochbihler
3           Jamie Engesser
4            Nadeem Asghar
               ...
17070       Jamie Engesser
17071           Tom McCuch
17072            Grant Liu
17073    George Vetticaden
17074           Ajay Singh
Name: driverName, Length: 17075, dtype: object