In [1]:
## Podemos trabajar co datos externos o crear los nuestros:


import pandas as pd

pd.DataFrame({'Yes': [50, 21], 'No': [131, 2]})

   Yes   No
0   50  131
1   21    2

In [2]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 'Sue': ['Pretty good.', 'Bland.']})

             Bob           Sue
0    I liked it.  Pretty good.
1  It was awful.        Bland.

In [3]:
### En caso de que queramos nombrar las columnas nosotros mismos:

pd.DataFrame({'Bob': ['I liked it.', 'It was awful.'], 
              'Sue': ['Pretty good.', 'Bland.']},
             index=['Product A', 'Product B'])

                     Bob           Sue
Product A    I liked it.  Pretty good.
Product B  It was awful.        Bland.

In [4]:
## Las series son secuencias de datos y se expresan como una lista

pd.Series([1, 2, 3, 4, 5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [5]:
pd.Series([30, 35, 40], index=['2015 Sales', '2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    30
2016 Sales    35
2017 Sales    40
Name: Product A, dtype: int64

In [6]:
##  wine_reviews = pd.read_csv() para leer archivos CSV
##  wine_reviews = pd.read_csv('/path/', index_col = 0) -> para indicar que primera columna tiene los índices

## wine_review.shape  -> para mirar el tamaño de los datos
##  wine_reviews.head()   -> primeros diez elementos

In [9]:
pd.DataFrame({'Apples': [30], 'Bananas':[21]})

   Apples  Bananas
0      30       21